sip==6.7.5
altgraph==0.17.3
packaging==23.0
ply==3.11
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
toml==0.10.2
